body {
  background: #f5f5f5;
}

section {
  display: inline-block;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding: 45px;
  background: #fff;
  margin-bottom: 45px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  flex: 0 1 auto;
  margin: 10px;
}

section h2 {
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 24px;
  text-align: center;
}

blockquote {
  border-left: 5px solid rgba(78, 188, 241, 0.8);
}

.paypal-button {
	background-color: #0070ba;
	color: white;
}

.contact-panel {
	margin: 10px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.blockquote-reverse {
  border-right: 5px solid rgba(78, 188, 241, 0.8);
}

.section-anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

p {
  line-height: 1.5;
  margin: 0 0 10px;
}

.top-padded-wrapper {
  padding-top: 60px;
}

.header{
  background: #56ccf2;
  padding-top: 50px;
  color: #fff;
}

.header .top-bar{
	padding-bottom: 120px;
}

.header .main-splash-content{
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  background: #4EBCF1;
  padding-top: 90px;
  padding-bottom: 60px;
  position: relative;
  font-size: 16px;
}

.header .contact-information {
  background: #43A6EF;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
}

.header .contact-information li a {
  color: rgba(255, 255, 255, 0.8);
}

.main-splash-text{
  max-width: 800px;
  margin: 0 auto;
}

.personal-image { 
  position: absolute;
  width: 160px;
  height: 160px;
  top: -80px;
  margin-left: -80px;
  left: 50%;
}

.panel-heading.panel-heading-invisible {
	background-color: transparent;
	border-color: transparent;
	border-bottom: 0px;
	padding: 0px;
}

.panel.panel-default.panel-invisible {
	border: 0px;
	--webkit-box-shadow: none;
	box-shadow: none;
}

.contact-icon-image {
  height: 16px;
}

.text-center {
  text-align: center;
}